

.foszoveg{
    position:absolute;
    top:150px;
    left:80px;
    color:rgba(249,239,239,0.98);
    font-family: 'Roboto', sans-serif;
}

.alszoveg{
    position:absolute;
    top:200px;
    left:80px;
    color:rgba(249,239,239,0.98);
    font-family: 'Roboto', sans-serif;
}

.pici{
    position:absolute;
    top:250px;
    left:80px;
    color:rgba(249,239,239,0.98);
    font-family: 'Roboto', sans-serif;
}

.pla{
    position:absolute;
    top:510px;
    left:1130px;
    color:rgba(249,239,239,0.98);
    font-family: 'Roboto', sans-serif;
    background-color:rgba(50, 62, 235, 0.94);
    border-radius:30px;
    padding:10px;
    padding-bottom:6px;
    text-align:center;
    box-shadow: 0px 0px 11px white;
}

.ple{
    position:absolute;
    top:575px;
    left:1140px;
    color:rgba(249,239,239,0.98);
    font-family: 'Roboto', sans-serif;
    background-color:rgba(50, 62, 235, 0.94);
    border-radius:30px;
    padding:10px;
    padding-bottom:6px;
    text-align:center;
    box-shadow: 0px 0px 11px white;
}

.view{
    position:absolute;
    top:300px;
    left:80px;
    font-family: 'Roboto', sans-serif;
    border:solid 2px rgba(50, 62, 235, 0.94);
    opacity: 1;
    border-radius:10px;
    padding-top:13px;
    padding-right: 13px;
    padding-bottom: 5px;
    padding-left:5px;
    box-shadow:1px 1px 20px rgba(50, 62, 235, 0.94);
    text-decoration: none;
    background-color: transparent;
    color: rgba(229, 226, 226, 1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border:none;
}



.contact{
    position:absolute;
    top:1560px;
    left:80px;
    font-family: 'Roboto', sans-serif;
    border:solid 2px rgba(50, 62, 235, 0.94);
    opacity: 1;
    border-radius:10px;
    padding-top:13px;
    padding-right: 13px;
    padding-bottom: 5px;
    padding-left:5px;
    box-shadow:1px 1px 20px rgba(50, 62, 235, 0.94) ;
    text-decoration: none;
    color: rgb(75,10,162);
    background-color: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

span {
    content: "\00BB";
    font-weight:bolder;
    color: rgba(229, 226, 226, 1);
  }



img{
    position: absolute;
    width:1287px;
}

*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.header{
    width:1280px;
    height:635px;
    background-image:url(szegg.png)
}

.nav .menu-bar{
    width:100%;
    text-align: right;
    box-shadow: 1px 2px 4px grey;
    background: rgba(2,2,2,0.2);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.menu-bar .company{
    text-align:left;
    padding-right:205px;
    font-weight: bold;
    font-size: 24px;
}

.menu-bar li{
    list-style-type: none;
    display: inline-block;
    padding:30px;
    margin:0px 20px;
}

button:hover{
    color: rgba(210,212,235,0.5);
}



button{
    background-color: transparent;
    border: none;
    color: rgba(229, 226, 226, 1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.mission{
    position:absolute;
    top:670px;
    left:center;
    padding-left: 580px;
    width: 800px;
    color:rgba(249,239,239,0.98);
    font-family: 'Roboto', sans-serif;
}   

.great{
    position:absolute;
    top:700px;
    left:center;
    width: 1000px;
    padding-left: 300px;
    color:rgba(249,239,239,0.98);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:rgba(249,239,239,0.98);
}

.letsTalk{
    position:absolute;
    top:1470px;
    left:80px;
    color:rgb(73, 71, 71);
    font-family: 'Roboto', sans-serif;
    
}

.interest{
    position:absolute;
    top:1060px;
    left:580px;
    color:rgba(145,146,156,0.98);
    font-family: 'Roboto', sans-serif;
    font-weight:bolder;
}

.tapasz{
    position:absolute;
    top:1140px;
    left:265px;
    border: solid 2px rgb(73, 71, 71);
    text-align:center;
    box-shadow: 0 0 100px grey;
    border-radius:360px;
    padding:50px;
    font-family: 'Roboto', sans-serif;
}

.tapasz h1{
    font-size: 80px;
    color: rgba(50, 62, 235, 0.94);
}

.ugyfel{
    position:absolute;
    top:1140px;
    left:760px;
    border: solid 2px rgb(73, 71, 71);
    text-align:center;
    box-shadow: 0 0 100px grey;
    border-radius:360px;
    padding:50px;
    font-family: 'Roboto', sans-serif;
}

.ugyfel h1{
    font-size:80px;
    color:rgba(50, 62, 235, 0.94);
}

.menuFent{
    position:absolute;
    top:1490px;
    left:800px;
    color:rgb(73, 71, 71);
    font-family: 'Roboto', sans-serif;
    font-weight:bolder;
}

.menu{
    position:absolute;
    top:1550px;
    left:800px;
    color:rgb(73, 71, 71);
    font-family: 'Roboto', sans-serif;
    font-weight:bolder;
}

.adatokFent{
    position:absolute;
    top:1490px;
    left:1000px;
    color:rgb(73, 71, 71);
    font-family: 'Roboto', sans-serif;
    font-weight:bolder;
}

.adatok{
    position:absolute;
    top:1550px;
    left:1000px;
    color:rgb(73, 71, 71);
    font-family: 'Roboto', sans-serif;
    font-weight:bolder;
}


.evszam{
    position:absolute;
    top:1750px;
    left:80px;
    color:rgba(70, 61, 61, 0.8);
    font-family: 'Roboto', sans-serif;
    border-top:solid 2px rgba(50,62,235, 0.7);
    padding-right:970px;
    
    
}

.aboutMe{
    position:absolute;
    top:890px;
    left:590px;
    padding-left:590px;
    width: 103px;
    font-family: 'Roboto', sans-serif;
    border:solid 2px rgba(50, 62, 235, 0.94);
    opacity: 1;
    border-radius:10px;
    padding-top:13px;
    padding-right: 13px;
    padding-bottom: 5px;
    padding-left:5px;
    box-shadow:1px 1px 20px rgba(50, 62, 235, 0.94) ;
    text-decoration: none;
    color: rgb(75,10,162);
    background-color: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

