*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.header{
    width:100%;
    height:665px;
    background-image:url("fehér.png");
    background-repeat: no-repeat;
}

.nav .menu-bar{
    width:100%;
    text-align: right;
    box-shadow: 1px 2px 4px grey;
    background: rgba(2,2,2,0.2);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.menu-bar .company{
    text-align:left;
    padding-right:220px;
    font-weight: bold;
    font-size: 24px;
}

.menu-bar li{
    list-style-type: none;
    display: inline-block;
    padding:30px;
    margin:0px 20px;
}

button{
    background-color: transparent;
    border: none;
    color: rgb(238, 227, 227);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover{
    color: rgba(210,212,235,0.5);
}


.important{
    position:absolute;
    top:180px;
    left:80px;
    font-weight: bolder;
    color:rgb(45, 45, 49, 0.5);
    font-family: 'Roboto', sans-serif;
    width: 500px;
    padding:20px;
    border-radius: 20px;
    text-align: left;
    padding:20px;
    border-radius: 20px;
}



.epitesz1{
    top: 180px;
    left:780px;
    position: absolute;
    box-shadow: 0 0 20px black;
}

.epitesz2{
    top:320px;
    left: 860px;
    position:absolute;
    box-shadow: 3px 3px 20px black;
}








.elso{
    position:absolute;
    top:720px;
    left: 80px;
    width: 1150px;
    height: 200px;
    box-shadow: 0 0 30px rgb(255, 255, 255);
    padding: 5px;
    background-color: rgba(187, 182, 182, 0.2);
}

.elsoszoveg{
    position:absolute;
    top: 100px;
    left:340px;
    width:700px;
    color:whitesmoke;
    font-family:'Roboto', sans-serif;
}

.elsonagy{
    position:absolute;
    top: 740px;
    left:700px;
    color: whitesmoke;
    font-weight: bolder;
    font-family:'Roboto', sans-serif;
}



.masodik{
    position:absolute;
    top:970px;
    left: 80px;
    width: 1150px;
    height: 200px;
    box-shadow: 0 0 30px rgb(255, 255, 255);
    padding: 5px;
    background-color: rgba(187, 182, 182, 0.2);
}

.masodikszoveg{
    position:absolute;
    top: 100px;
    left:340px;
    width:700px;
    color:whitesmoke;
    font-family:'Roboto', sans-serif;
}

.masodiknagy{
    position:absolute;
    top: 990px;
    left:705px;
    color: whitesmoke;
    font-weight: bolder;
    font-family:'Roboto', sans-serif;
}



.harmadik{
    position:absolute;
    top:1220px;
    left: 80px;
    width: 1150px;
    height: 200px;
    box-shadow: 0 0 30px rgb(255, 255, 255);
    padding: 5px;
    background-color: rgba(187, 182, 182, 0.2);
}

.harmadikszoveg{
    position:absolute;
    top: 100px;
    left:340px;
    width:700px;
    color:whitesmoke;
    font-family:'Roboto', sans-serif;
}

.harmadiknagy{
    position:absolute;
    top: 1240px;
    left:620px;
    font-weight:bolder;
    color: whitesmoke;
    font-family:'Roboto', sans-serif;
}


.hazak{
    top:560px;
    position: absolute;
    box-shadow: 0 5px 20px black;
}